*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
font-family: "Inter", sans-serif;
 color: #FFFFFF;

}

/* shared style */



header, #podcast{
  margin: 0 auto;
  max-width: 1600px;
  background: #1A0B2E;
}
.container{
  max-width: 1200px;
  margin: 0 auto;

}
.common-title{
  font-size: 48px;
  margin-bottom: 16px;

}

.btn{
  color: #FFFFFF;
  padding: 12px 20px;
  border: none;
  border-radius:100px;
  font-weight: 600;
  background: linear-gradient(to top right, #F7E93F, #FB09B4, #9100F8);
  cursor: pointer;
}



#navbar{
  display: flex;
  justify-content: space-around;
  padding: 24px 0;
  align-items: center;
  border: 1px solid #412567;

}
.nav-img{
  max-width: 200px;
}
#navbar img{
  width: 100%;
}
.menu{
list-style: none;
display: flex;
gap: 30px;
}
.menu a{
text-decoration: none;
 color: #FFFFFF;
 font-weight: 500;
}

.hamburger-menu{
  display:none;
}

#banner{
  height: 760px;
  background: center url(images/hero-bg.png);
  background-repeat: no-repeat;
  background-size: cover;
  text-align: center;
 
}
.banner-img{
  position: relative;
  top:14%;
  display: block;
}
.banner-icon {
  position: absolute;
  left: 46%;
  top: 30%;
}
.banner-content{
 margin-top: 130px;
}
.banner-title{
  font-size:3.75rem ;
  font-weight: 800;
}
.banner-description{
  opacity: .8;
  margin-bottom: 24px;
}
.btn-color{
  color: #00FF88;
  border:2px solid #00FF88;
  background: none;
}
.podcast-container{
  padding-left: 20px;
  padding-right: 20px;
  text-align: center;
}
.podcast-content{
  padding:50px 0;
  border-bottom: 1px solid #412567;
}
.podcast-description,
.card-text{
  line-height: 25px;
  opacity: .8;
}
.podcast-last-line{
  display: block;
  margin-top: 16px;
}

.card-container{
  padding: 80px 0;
  display: grid;
  grid-template-columns: repeat(4 , 1fr);
  text-align: center;
}
.number{
  color: #00FF88;
  font-size: 48px;
  font-weight: 900;
  margin-bottom: 16px;
}


@media screen and (max-width:576px){
  .hamburger-menu{
    display: block;
  }
 #navbar{
 justify-content: space-between;
 padding-right:8px;
 padding-left:8px;

 }

  .menu, nav>.btn{
    display: none;
  }
  #banner{
    max-width: 100%;
   
  }
  .podcast-container{
    width: 100%;
  }
  .common-title{
  font-size: 32px;

}
  .card-container{
      grid-template-columns: repeat(2 , 1fr);
      gap: 40px;
  }
  .number{
  font-size: 40px;
}

}