*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
font-family: "Inter", sans-serif;
 color: #FFFFFF;

}

/* shared style */



header, #podcast ,#choosing ,#features ,#hosts{
  margin: 0 auto;
  max-width: 1600px;
  background: #1A0B2E;
 
}
#choosing ,#features ,#hosts{
  padding-top: 50px;
  padding-bottom: 50px;
}
.container{
  max-width: 1200px;
  margin: 0 auto;

}
.common-title{
  text-align: center;
  font-size: 48px;
  margin-bottom: 16px;

}

.btn{
  color: #FFFFFF;
  padding: 12px 20px;
  border: none;
  border-radius:100px;
  font-weight: 600;
  background: linear-gradient(to top right, #F7E93F, #FB09B4, #9100F8);
  cursor: pointer;
}



#navbar{
  display: flex;
  justify-content: space-around;
  padding: 24px 0;
  align-items: center;
  border: 1px solid #412567;

}
.nav-img{
  max-width: 200px;
}
#navbar img{
  width: 100%;
}
.menu{
list-style: none;
display: flex;
gap: 30px;
}
.menu a{
text-decoration: none;
 color: #FFFFFF;
 font-weight: 500;
}

.hamburger-menu{
  display:none;
}

#banner{
  height: 760px;
  background: center url(images/hero-bg.png);
  background-repeat: no-repeat;
  background-size: cover;
  text-align: center;
 
}
.banner-img{
  position: relative;
  top:14%;
  display: block;
}
.banner-icon {
  position: absolute;
  left: 46%;
  top: 30%;
}
.banner-content{
 margin-top: 130px;
}
.banner-title{
  font-size:3.75rem ;
  font-weight: 800;
}
.banner-description{
  opacity: .8;
  margin-bottom: 24px;
}
.btn-color{
  color: #00FF88;
  border:2px solid #00FF88;
  background: none;
}
.podcast-container{
  padding-left: 20px;
  padding-right: 20px;
  text-align: center;
}
.podcast-content{
  padding-bottom: 50px;
  border-bottom: 1px solid #412567;
}
.podcast-description,
.card-text{
  line-height: 25px;
  opacity: .8;
}
.podcast-last-line{
  display: block;
  margin-top: 16px;
}

.card-container{
  padding: 80px 0;
  display: grid;
  grid-template-columns: repeat(4 , 1fr);
  text-align: center;
}
.number{
  color: #00FF88;
  font-size: 48px;
  font-weight: 900;
  margin-bottom: 16px;
}

#choosing{
  background: #230E3D;
}
.bottom-margin{
  margin-bottom: 40px;
}

.grids{
  margin: 10px;
  display: grid;
  gap: 30px;
  grid-template-columns: repeat(3 ,1fr);
  grid-template-rows: 225px 225px 273px;

 
}
.box{
  background: rgba(53, 17, 101, 0.4);
  border-radius: 40px;
  padding: 40px;
}
.box1{
  
  grid-row: 1/ span 2;
  display: flex;
  align-items: center;
}
.box2{
  grid-column: 2/ span 3;
}
.box3{
  grid-column: 2/ span 3;
}
.box4{
  grid-column: 1/ span 2;
}
.box5{
  grid-column: span 2/ span 3;
}
.box-title{
  font-size: 24px;
  margin: 16px 0;
}
.box p{
  opacity: .8;
}

.features-card{
  padding-top: 30px;
  display: flex;
  gap: 30px;
  margin: 10px;
}

.media{
  background:#250D44;
  border-radius: 24px;
  transition: transform .3s ease-in;
}

.media:hover{
  transform: translateY(-8px);
}

.media iframe{
  width: 100%;
  height: 220px;
  border-radius:24px 24px 0 0;
}
.media-content{
  padding: 24px;
  display: flex;
  flex-direction: column;
  gap: 12px;
}
.feature-title{
  font-size: 24px;
}
.media-content p,
.alex-description{
  opacity: .6;
}
.media-content p:last-child{
  color: #00FF88;
  opacity: 1;
  font-weight: 600;
}

.alex-container{
  background:#250D44;
  display: flex;
  gap: 24px;
  padding: 40px;
  align-items: center;
  border-radius: 24px;
  margin: 10px;
}
.alex-title{
  font-size: 32px;
  margin-bottom: 16px;
}
.alex-description{
  margin-bottom: 16px;
}

.host-social img{
  width: 30px;
 margin-right: 10px;
}
.host-social img:hover{
  cursor: pointer;
}
















@media screen and (max-width:576px){
  .hamburger-menu{
    display: block;
  }
 #navbar{
 justify-content: space-between;
 padding-right:8px;
 padding-left:8px;

 }

  .menu, nav>.btn{
    display: none;
  }
  #banner{
    max-width: 100%;
   
  }
  .podcast-container{
    width: 100%;
  }
  .common-title{
  font-size: 32px;

}
  .card-container{
      grid-template-columns: repeat(2 , 1fr);
      gap: 40px;
  }
  .number{
  font-size: 40px;
}
.choosing-container{
  padding: 50px 0;
}
.grids{
  display: flex;
  flex-direction: column;
  margin: 10px;
}
.box{
  padding:20px;
  border-radius: 24px;
}
.features-card{
  flex-direction: column;
}
.media{
  margin: 0 10px;
}
.alex-container{
  text-align: center;
  flex-direction: column;
}
}